/******comme 配置******/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

img {
    border: none;
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

body, html {
    font-size: 12px;
    font-family: "微软雅黑";
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

ul, li {
    font-style: normal;
    list-style: none;
}

.r {
    float: right;
}

.l {
    float: left;
}

#header {
    height: 145px;
    width: 1200px;
    clear: both;
    margin: 0 auto;
    padding-top: 33px;
}

    #header .toper_r {
        float: right;
        width: 285px;
        height: 40px;
        padding-left: 20px;
        margin-bottom: 16px;
    }

.tr_01 {
    float: left;
    width: 110px;
    background: url(../images/header.png) no-repeat 0 12px;
    height: 40px;
    padding-left: 25px;
    line-height: 40px;
    color: #666666;
}

    .tr_01 a {
        line-height: 40px;
        color: #666666;
    }

.clear {
    clear: both;
    height: 1px;
}

.clear5 {
    clear: both;
    height: 5px;
}

.clear10 {
    clear: both;
    height: 10px;
}

.clear15 {
    clear: both;
    height: 15px;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clear30 {
    clear: both;
    height: 30px;
}

.clear40 {
    clear: both;
    height: 40px;
}

.btn_lf {
    position: absolute;
    left: -29px;
    top: 85px;
}

.btn_rt {
    position: absolute;
    right: -29px;
    top: 85px;
}

.tr_02 {
    float: left;
    width: 70px;
}

    .tr_02 a {
        line-height: 40px;
        color: #666666;
    }

.tr_03 {
    float: left;
    width: 85px;
    text-align: right;
}

    .tr_03 a {
        line-height: 40px;
        color: #666666;
    }

#header .toper_l {
    float: right;
    width: 200px;
    border: 1px solid #d4d4d4;
    border-radius: 21px;
    height: 40px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

    #header .toper_l input {
        clear: both;
        height: 24px;
        line-height: 24px;
        width: 100%;
        background: none;
        border: none;
    }

    #header .toper_l button {
        position: absolute;
        height: 19px;
        width: 19px;
        border: none;
        right: 10px;
        top: 10px;
        background: url(../images/search_btn.png) no-repeat;
    }

.search_div {
    position: absolute;
    right: 5px;
    top: 10px;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
}

.c_lefter {
    float: left;
    width: 350px;
    padding-top: 30px;
}

.c_righter {
    float: right;
    width: 720px;
    padding-top: 45px;
}

    .c_righter p {
        clear: both;
        color: #aaaac8;
        line-height: 40px;
        text-align: right;
    }

        .c_righter p a {
            line-height: 40px;
            color: #666666;
            font-size: 14px;
            padding: 0 26px;
        }

            .c_righter p a.last {
                margin: 0 -26px 0 0;
            }

.naver {
    clear: both;
    height: 56px;
    padding-top: 16px;
    line-height: 23px;
    margin: 0 auto;
    width: 1200px;
    background-color: #363c64;
    position: relative;
    padding-left: 165px;
    color: #484d6d;
}

    .naver a {
        line-height: 23px;
        color: #fff;
        font-size: 16px;
        padding: 0 25px;
    }

        .naver a.clk {
            color: #e9b477;
        }

.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 157px;
    height: 124px;
    z-index: 99;
}

.logo1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 157px;
    height: 56px;
    z-index: 99;
}

    .logo1 a {
        padding: 0;
    }

.fld_logo {
    height: 46px;
    float: left;
}

.foot {
    clear: both;
    height: 79px;
    border-top: 1px solid #e1e1e1;
    background-color: #eeeeee;
    text-align: center;
}

    .foot a {
        line-height: 79px;
        color: #666666;
        padding: 0 60px;
        font-size: 14px;
    }

.footer {
    clear: both;
    background-color: #363c64;
    height: 155px;
}

.banner {
    clear: both;
    height: 500px;
    position: relative;
}

.login_div {
    position: absolute;
    left: 183px;
    top: 66px;
    height: 393px;
    width: 324px;
    background: url(../images/logo_div.jpg) no-repeat;
}

    .login_div ul {
        clear: both;
        height: 88px;
    }

        .login_div ul li {
            float: left;
            width: 161px;
            padding-top: 30px;
            padding-bottom: 30px;
            border-top: 3px solid #fff;
            line-height: 24px;
            text-align: center;
            font-size: 18px;
            color: #858d95;
            cursor: pointer;
        }

            .login_div ul li.clk {
                border-top: 3px solid #363c64;
                color: #363c64;
            }

            .login_div ul li.midd {
                float: left;
                width: 2px;
                text-align: center;
                font-size: 12px;
                font-weight: normal;
            }

    .login_div span ul li {
        clear: both;
        height: 20px;
        padding: 0px;
        color: red;
        border: none;
        font-size: 12px;
    }

.login_cont {
    padding: 21px 34px 0 34px;
    height: 285px;
}

.log_input {
    clear: both;
    height: 38px;
    margin-bottom: 13px;
}

    .log_input input {
        clear: both;
        width: 100%;
        border: 0;
        height: 38px;
        line-height: 38px;
        border-radius: 3px;
        color: #c4ced8;
        font-size: 14px;
        padding-left: 35px;
    }

        .log_input input.user {
            background: #fff url(../images/loghead.jpg) no-repeat 8px 11px;
        }

        .log_input input.pass {
            background: #fff url(../images/passwordbg.jpg) no-repeat 8px 11px;
        }

.log_check {
    clear: both;
    height: 25px;
    margin-bottom: 50px;
}

.auto_login {
    float: left;
    display: block;
    height: 25px;
    width: 80px;
    color: #6b7994;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
}

.forget_pass {
    float: right;
    display: block;
    height: 25px;
    width: 90px;
    text-align: right;
}

    .forget_pass a {
        line-height: 25px;
        color: #8a9390;
        font-size: 12px;
    }

.log_sub {
    clear: both;
    height: 38px;
}

    .log_sub button {
        width: 100%;
        height: 38px;
        background-color: #363c64;
        font-size: 16px;
        border: none;
        color: #fff;
        border-radius: 3px;
    }

.door_div {
    clear: both;
    height: 110px;
}

    .door_div .dd_01 {
        float: left;
        width: 295px;
        height: 108px;
        border-bottom: 2px solid #e4e4e4;
        background: url(../images/order_tip.png) no-repeat 92px 72px;
        padding-top: 70px;
        text-align: center;
        font-size: 16px;
        color: #666666;
        position: relative;
        cursor: pointer;
    }

    .door_div .dd_02 {
        float: left;
        width: 295px;
        height: 108px;
        border-bottom: 2px solid #e4e4e4;
        background: url(../images/yy_icon.jpg) no-repeat 90px 72px;
        margin-left: 5px;
        padding-top: 70px;
        text-align: center;
        font-size: 16px;
        color: #666666;
        position: relative;
        cursor: pointer;
    }

.dd_tc_div {
    position: absolute;
    left: 0;
    width: 295px;
    height: 151px;
    top: -43px;
    padding-top: 80px;
    padding-left: 40px;
    display: none;
    z-index: 999;
}

.dtd_01 {
    background: url(../images/orderlist1.jpg) no-repeat;
}

.dtd_02 {
    background: url(../images/orderlist.png) no-repeat;
}

.dtd_03 {
    background: url(../images/orderlist3.jpg) no-repeat;
}

.dtd_04 {
    background: url(../images/orderlist4.jpg) no-repeat;
}

.dd_tc_div h2 {
    padding-top: 30px;
    text-align: left;
    color: #e9b477;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 28px;
}

.dd_tc_div h3 {
    padding-top: 30px;
    text-align: left;
    font-size: 14px;
    color: #686781;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 25px;
}

.door_div .dd_03 {
    float: left;
    width: 295px;
    height: 108px;
    border-bottom: 2px solid #e4e4e4;
    margin-left: 5px;
    background: url(../images/mb_tip.png) no-repeat 90px 70px;
    padding-top: 70px;
    text-align: center;
    font-size: 16px;
    color: #666666;
    position: relative;
    cursor: pointer;
}

.door_div .dd_04 {
    float: right;
    width: 295px;
    height: 108px;
    border-bottom: 2px solid #e4e4e4;
    background: url(../images/edit_tip.png) no-repeat 90px 70px;
    padding-top: 70px;
    text-align: center;
    font-size: 16px;
    color: #666666;
    position: relative;
    cursor: pointer;
}

.index_lf {
    float: left;
    width: 882px;
}

.index_rt {
    float: right;
    width: 308px;
    padding-top: 60px;
}

.il_title {
    clear: both;
    height: 60px;
    position: relative;
}

.imore {
    position: absolute;
    right: 0;
    top: 13px;
    height: 33px;
    width: 59px;
    border: 1px solid #dddddd;
    text-align: center;
    border-radius: 15px;
}

    .imore a {
        color: #b52521;
        line-height: 33px;
        display: block;
        text-decoration: none;
    }

.il_title span {
    float: left;
    display: block;
    width: 190px;
    border-bottom: 2px solid #e9b477;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .il_title span.color {
        border-bottom: 2px solid #363c64;
    }

    .il_title span em {
        clear: both;
        display: block;
        font-size: 18px;
        line-height: 28px;
        font-style: normal;
        height: 28px;
    }

    .il_title span code {
        clear: both;
        display: block;
        color: #b3b3b3;
        background: none;
        border: none;
        border-radius: 0;
        padding: 0;
        line-height: 22px;
    }

.ir_main {
    clear: both;
    border: 1px solid #e1e1e1;
    height: 670px;
}

    .ir_main h2 {
        clear: both;
        padding: 10px;
        height: 50px;
        margin: 0;
        font-size: 18px;
        line-height: 30px;
    }

        .ir_main h2 a {
            float: right;
            text-decoration: none;
            font-size: 24px;
            color: #363636;
        }

.ir_25 {
    width: 25%;
    float: left;
    height: 115px;
    text-align: center;
}

    .ir_25 p {
        line-height: 25px;
        color: #6d6d6d;
    }

.lb1_div {
    float: left;
    width: 595px;
    height: 300px;
}

.txt_divw {
    float: right;
    width: 270px;
    height: 300px;
    background-color: #363c64;
}

.txt_div {
    float: right;
    width: 270px;
    height: 300px;
    background-color: #363c64;
    padding: 45px 30px 0 30px;
}

    .txt_div h2 {
        padding-top: 30px;
        text-align: left;
        color: #fff;
        font-size: 20px;
        margin: 0;
        padding: 0;
        line-height: 28px;
    }

    .txt_div h3 {
        padding-top: 30px;
        text-align: left;
        font-size: 14px;
        color: #595e7f;
        font-weight: normal;
        margin: 0;
        padding: 0;
        line-height: 25px;
        font-size: 11px;
        font-weight: normal;
        margin-bottom: 25px;
    }

    .txt_div .td_cont {
        clear: both;
        line-height: 22px;
        color: #7a7e97;
        height: 120px;
    }

    .txt_div .td_time {
        clear: both;
        height: 25px;
        line-height: 25px;
        text-align: right;
        background: url(../images/time.png) no-repeat 130px 7px;
        color: #5e6383;
    }

        .txt_div .td_time a {
            line-height: 25px;
            color: #5e6383;
        }

.ea_div {
    clear: both;
    height: 299px;
    border-top: 1px solid #dcdcdc;
    background: #ededf0 url(../images/ea_bg.jpg) no-repeat center;
    padding: 45px 30px 0 30px;
}

.ead_mod {
    float: left;
    width: 274px;
    padding: 0 35px;
}

    .ead_mod h2 {
        clear: both;
        line-height: 25px;
        font-size: 16px;
        margin-top: 0;
    }

    .ead_mod .eda_cont {
        clear: both;
        line-height: 21px;
        font-size: 14px;
        color: #999;
    }

    .ead_mod p {
        clear: both;
        line-height: 21px;
        text-align: right;
    }

        .ead_mod p a {
            color: #adb0c0;
            line-height: 24px;
        }

.friend_div {
    clear: both;
    height: 120px;
    padding-top: 40px;
    text-align: center;
}

    .friend_div a {
        padding: 0 10px;
    }

.scs_div {
    clear: both;
    background-color: #fff;
    min-height: 40px;
    position: relative;
}

.scs_search {
    clear: both;
    background-color: #fff;
    min-height: 40px;
    padding: 10px;
    margin: 10px 0px;
}

.scs_main {
    width: 250px;
    z-index: 9999;
    min-height: 800px;
    height: auto;
    background: url(../images/sc_bg.jpg) no-repeat;
    background-size: auto 100%;
    position: relative;
    top: -10px;
    left: 0;
    padding-top: 15px;
}

    .scs_main .sm_line {
        clear: both;
        height: 34px;
        padding-left: 60px;
        color: #afb2c4;
        line-height: 34px;
        font-size: 14px;
        margin-bottom: 15px;
        cursor: pointer;
    }

.sm_01 {
    background: url(../images/icon01.png) no-repeat 25px 10px;
}

.sm_02 {
    background: url(../images/icon02.png) no-repeat 25px 10px;
}

.sm_03 {
    background: url(../images/icon03.png) no-repeat 25px 10px;
}

.sm_04 {
    background: url(../images/icon04.png) no-repeat 25px 9px;
}

.sm_05 {
    background: url(../images/icon05.png) no-repeat 25px 10px;
}

.sm_06 {
    background: url(../images/icon06.png) no-repeat 25px 11px;
}

.sm_07 {
    background: url(../images/icon07.png) no-repeat 25px 8px;
}

.sm_cont {
    clear: both;
    margin-top: -15px;
}

    .sm_cont .smc_line {
        padding-left: 75px;
        clear: both;
        line-height: 34px;
        color: #9ca2bb;
        font-size: 14px;
        cursor: pointer;
    }

.smc_clk {
    background-color: #4a5684;
}

.sm_cont p {
    clear: both;
    height: 34px;
    padding-left: 90px;
}

    .sm_cont p a {
        line-height: 34px;
        color: #9C9AA8;
    }

        .sm_cont p a.clk {
            line-height: 34px;
            color: #e9b477;
        }

.scs_div .sd_nav {
    float: left;
    z-index: 9999;
    width: 30px;
    min-height: 40px;
}

.scs_div .sd_cont {
    float: left;
    width: 1170px;
    padding-top: 28px;
}

.sc_001 {
    float: left;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

.sc_002 {
    float: left;
    width: 200px;
    height: 30px;
}

.sc_003 {
    float: left;
    width: 400px;
    height: 30px;
}

.sc_004 {
    float: left;
    width: 230px;
    height: 30px;
}

.sc_005 {
    float: left;
    width: 200px;
    height: 30px;
    padding-left: 46px;
    line-height: 34px;
    background: url(../images/check.jpg) no-repeat 25px 10px;
}

.sc_inpute {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 99%;
    height: 33px;
    line-height: 33px;
    background: url(../images/ltip_down.jpg) no-repeat right;
}

.sc_inputn {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 99%;
    height: 33px;
    line-height: 33px;
}

.sc_input {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    height: 33px;
    line-height: 33px;
    background: url(../images/ltip_down.jpg) no-repeat right;
    padding-left: 5px;
    font-size: 14px;
    color: #707070;
}

.date_input {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80px;
    height: 33px;
    line-height: 33px;
    background: url(../images/date_bg.jpg) no-repeat right;
}

.sc_inputa {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    height: 33px;
    line-height: 33px;
    background-color: #f5f6f9;
}

.date_inputa {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    height: 33px;
    line-height: 33px;
    background: url(../images/date_bg.jpg) no-repeat right;
}

.sc_input1 {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 71px;
    height: 33px;
    line-height: 33px;
}

.sc_input2 {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 116px;
    height: 33px;
    line-height: 33px;
}

.sc_more {
    text-align: center;
    line-height: 35px;
}

    .sc_more a {
        padding-right: 10px;
        margin: 0 auto;
        width: 120px;
        background: url(../images/tip_donw1.png) no-repeat right;
        color: #666666;
        font-size: 14px;
        outline: none;
        text-decoration: none;
    }

        .sc_more a.clk {
            background: url(../images/tip_up1.png) no-repeat right;
        }

.sc_btn_div {
    text-align: right;
    height: 35px;
    padding-right: 20px;
}

.scbtn01 {
    background: #363b65;
    border-radius: 3px;
    height: 35px;
    border: none;
    width: 83px;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

.scbtn02 {
    background: #e9b477;
    border-radius: 3px;
    height: 35px;
    border: none;
    width: 83px;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

.scbtn03 {
    background: #f6f7f8;
    border-radius: 3px;
    border: 1px solid #e8e9ed;
    height: 35px;
    border: 1px solid #e9eaee;
    width: 83px;
    color: #363b65;
    font-size: 14px;
    margin-left: 10px;
}

.mes_div {
    padding: 4px 0 0 20px;
    height: 40px;
    background-color: #fff;
    clear: both;
}

.md_mod {
    float: left;
    padding: 0 10px;
    text-align: center;
}

    .md_mod img {
        border: 1px solid #cecfd9;
        padding: 20px;
        border-radius: 50%;
    }

    .md_mod a {
        clear: both;
        line-height: 25px;
        color: #333333;
        font-size: 14px;
    }

.md_tbdiv {
    clear: both;
    min-height: 150px;
}

.md_tab {
    width: 100%;
}

    .md_tab th {
        background-color: #f3f6f9;
        padding: 5px 10px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        font-weight: normal;
        border: 1px solid #e4e5e6;
    }

    .md_tab td {
        background-color: #fff;
        padding: 1px 10px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        color: #666666;
        border: 1px solid #e4e5e6;
    }

.pager {
    clear: both;
    height: 24px;
    text-align: right;
}

    .pager span {
        height: 24px;
    }

    .pager input {
        width: 28px;
        height: 24px;
        border: 1px solid #e6e9ec;
        line-height: 24px;
        padding: 3px;
        vertical-align: middle;
        margin-bottom: 3px;
    }

    .pager a {
        background-color: #bdc3c9;
        border: 1px solid #e6e9ec;
        background-color: #fff;
        padding: 4px 8px;
        line-height: 20px;
        margin-left: 5px;
        color: #b8bfc5;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

        .pager a:hover {
            background-color: #83879f;
            border: 1px solid #83879f;
            color: #fff;
        }

        .pager a.clk {
            background-color: #83879f;
            border: 1px solid #83879f;
            color: #fff;
        }

    .pager span {
        padding-left: 10px;
    }

    .pager button {
        background-color: #81859d;
        border: 0;
        border-radius: 3px;
        color: #fff;
        height: 24px;
        padding: 0 15px;
    }

    .pager em {
        color: #b8bfc5;
        font-size: 16px;
        line-height: 24px;
        padding: 0 5px;
    }

.order_title {
    clear: both;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-bottom: 1px solid #d8d8d8;
}

    .order_title span {
        float: left;
        height: 50px;
        border-bottom: 2px solid #e9b477;
        width: 125px;
    }

.ord_main {
    clear: both;
    padding: 30px;
    background-color: #fff;
}

.ord_001 {
    float: left;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

.ord_002, .fld_input {
    float: left;
    min-width: 200px;
    height: 30px;
    position: relative;
}

.ord_003, .fld_label {
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

.ord_004 {
    float: left;
    width: 460px;
    height: 30px;
}

.ord_005 {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

.ord_006 {
    float: left;
    width: 180px;
    height: 30px;
}

.ot_main {
    clear: both;
    height: 115px;
    padding: 20px 0 0 25px;
}

.ot_001 {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    background: url(../images/wj_bg.png) no-repeat 1px 10px;
    padding-left: 20px;
}

.ot_002 {
    float: left;
    width: 200px;
    height: 30px;
}

.ot_003 {
    float: left;
    width: 200px;
    height: 30px;
    font-size: 14px;
    line-height: 34px;
}

.ot_ico1 {
    background: url(../images/ot_01.png) no-repeat 0 9px;
    width: 265px;
    padding-left: 30px;
}

.ot_ico2 {
    background: url(../images/ot_02.png) no-repeat 0 9px;
    width: 265px;
    padding-left: 30px;
}

.ot_ico3 {
    background: url(../images/ot_03.png) no-repeat 0 9px;
    width: 265px;
    padding-left: 30px;
}

.ot_ico4 {
    background: url(../images/ot_04.png) no-repeat 0 9px;
    width: 265px;
    padding-left: 30px;
}

.ot_ico5 {
    background: url(../images/ot_05.png) no-repeat 0 9px;
    width: 100px;
    padding-left: 30px;
}

.membert {
    clear: both;
    height: 77px;
    padding-top: 17px;
}

    .membert .header {
        float: left;
        width: 54px;
        text-align: center;
    }

.hd_cont1 {
    float: left;
    width: 135px;
    line-height: 44px;
    font-size: 14px;
    color: #000;
    padding-left: 10px;
}

.hd_cont2 {
    float: left;
    width: 80px;
    line-height: 44px;
    font-size: 14px;
    color: #000;
    padding-left: 10px;
}

.hd_cont3 {
    float: left;
    width: 130px;
    line-height: 44px;
    font-size: 14px;
    color: #000;
    padding-left: 5px;
    padding-top: 20px;
    padding-right: 5px;
}

.hd_cont4 {
    float: left;
    width: 50px;
    line-height: 44px;
    font-size: 14px;
    padding-left: 10px;
    color: #ed3800;
}

.hdc_1 {
    height: 6px;
    background-color: #e6e6e6;
    border-radius: 3px;
}

    .hdc_1 .hdc_11 {
        height: 6px;
        background-color: #e34819;
        border-radius: 3px;
    }

.ort_left {
    float: left;
    width: 125px;
    padding-top: 35px;
}

    .ort_left .div-input {
        clear: both;
        height: 35px;
        border: 1px solid #eaeaea;
        background: #fff;
        width: 100%;
        padding: 5px;
        position: relative;
    }

.ort_tc {
    width: 123px;
    border: 1px solid #eaeaea;
    position: absolute;
    top: 51px;
    left: 0;
    background-color: #fff;
    padding: 10px 0;
}

    .ort_tc p {
        clear: both;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        color: #949494;
        font-size: 14px;
    }

        .ort_tc p:hover {
            background-color: #f3f6f9;
            color: #171717;
        }

.ort_right {
    float: right;
    width: 1045px;
    background-color: #fff;
    min-height: 440px;
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 45px;
}

.ort_righta {
    float: right;
    width: 1045px;
    background-color: #fff;
    min-height: 440px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.ort_book_tit1 {
    height: 150px;
    border-bottom: 1px dotted #e5e5e5;
}

.ort_book_tit2 {
    padding: 0 25px;
    height: 150px;
}

.containere {
    padding: 50px;
    margin: 0 auto;
    width: 1000px;
}

/*****模块*******/
.ortr_mod1 {
    float: left;
    width: 120px;
    height: 140px;
    margin-left: -30px;
    text-align: center;
    margin-right: 40px;
}

    .ortr_mod1 img {
        padding: 15px;
        border: 1px solid #dbdce3;
        border-radius: 50%;
    }

    .ortr_mod1 p {
        clear: both;
        line-height: 25px;
        color: #747474;
        font-size: 14px;
        padding-top: 10px;
    }

.ortr_mod2 {
    float: left;
    width: 230px;
    height: 150px;
    text-align: center;
}

    .ortr_mod2 img {
        padding: 15px;
        border: 1px solid #dbdce3;
        border-radius: 50%;
    }

    .ortr_mod2 p {
        clear: both;
        line-height: 25px;
        color: #747474;
        font-size: 14px;
        padding-top: 10px;
    }

.ortr_mod3 {
    float: right;
    width: 95px;
    height: 150px;
    text-align: center;
}

    .ortr_mod3 img {
        padding: 15px;
        border: 1px solid #dbdce3;
        border-radius: 50%;
    }

    .ortr_mod3 p {
        clear: both;
        line-height: 25px;
        color: #747474;
        font-size: 14px;
        padding-top: 10px;
    }

.ortr_mod4 {
    float: right;
    width: 65px;
    height: 150px;
}

    .ortr_mod4 img {
        padding: 15px;
        border: 1px solid #dbdce3;
        border-radius: 50%;
    }

    .ortr_mod4 p {
        clear: both;
        line-height: 25px;
        color: #747474;
        font-size: 14px;
        padding-top: 10px;
    }

.ortr_mod5 {
    float: right;
    width: 65px;
    height: 150px;
}

    .ortr_mod5 img {
        padding: 15px;
        border: 1px solid #dbdce3;
        border-radius: 50%;
    }

    .ortr_mod5 p {
        clear: both;
        line-height: 25px;
        color: #747474;
        font-size: 14px;
        padding-top: 10px;
    }

        .ortr_mod1 p em, .ortr_mod2 p em, .ortr_mod3 p em, .ortr_mod4 p em, .ortr_mod5 p em {
            font-style: normal;
            font-size: 30px;
            font-weight: normal;
        }

.di_input {
    width: 100%;
    border: 0;
    border: none;
    height: 25px;
    line-height: 25px;
    background: url(../images/tip_donw1.png) no-repeat 100px 10px;
}

.mod_code {
    width: 590px;
    height: 160px;
    background-color: #fff;
}

    .mod_code h2 {
        clear: both;
        padding: 10px 20px;
        height: 50px;
        margin: 0;
        font-size: 18px;
        line-height: 30px;
    }

        .mod_code h2 a {
            float: right;
            text-decoration: none;
            font-size: 24px;
            color: #363636;
        }

.cd_mode1 {
    float: left;
    width: 25%;
    padding: 0 20px;
}

    .cd_mode1 .cdm_mod {
        border: 1px solid #f2f2f2;
        text-align: center;
    }

        .cd_mode1 .cdm_mod p {
            text-align: center;
        }

            .cd_mode1 .cdm_mod p a {
                line-height: 25px;
                font-size: 14px;
                color: #6d6d6d;
            }

.member_div {
    margin: 0 auto;
    width: 1240px;
}

    .member_div .med_mode {
        float: left;
        width: 310px;
        padding: 20px;
        float: left;
    }

.medm_mod {
    border: 1px solid #cecece;
    height: 138px;
    float: left;
    width: 100%;
}

.arrow {
    width: 9px;
    height: 6px;
    position: absolute;
    left: 100px;
    top: 40px;
    z-index: 99;
}

.fa-square {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: block;
    float: left;
    margin-top: 12px;
    margin-right: 10px;
}

.fa001 {
    background-color: #70d3f3;
}

.fa002 {
    background-color: #70b7f3;
}

.fa003 {
    background-color: #347dbc;
}

.fa004 {
    background-color: #9fc2d6;
}

.fa005 {
    background-color: #a89fd6;
}

.fa006 {
    background-color: #6873c1;
}

.fa007 {
    background-color: #e9b477;
}

.fa008 {
    background-color: #c86f20;
}

.fa009 {
    background-color: #a47042;
}

.fa0010 {
    background-color: #61c3c4;
}

.fa0011 {
    background-color: #4fcb95;
}

.fa0012 {
    background-color: #529758;
}

.x_content {
    position: relative;
    width: 100%;
}

.x_c_pos {
    position: absolute;
    right: 0px;
    top: -40px;
    height: 60px;
    width: 60px;
}

    .x_c_pos em {
        display: block;
        float: left;
        line-height: 30px;
        font-style: normal;
    }

.kf_main {
    position: fixed;
    top: 50%;
    height: 174px;
    border: 1px solid #e8e8e8;
    width: 60px;
    right: 10px;
    background-color: #f7f7f7;
}

.kf_phone {
    clear: both;
    height: 57px;
    border-bottom: 1px solid #e8e8e8;
}

.kf_weixin {
    clear: both;
    height: 57px;
    border-bottom: 1px solid #e8e8e8;
}

.kf_qq {
    clear: both;
    height: 57px;
}

.kf_clk {
    background-color: #ebebeb;
}

.kf_num {
    background-color: #f05858;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    right: -5px;
    position: absolute;
    top: -5px;
}

.cl_main {
    clear: both;
    height: 50px;
    margin-bottom: 10px;
}

    .cl_main .clm_mod {
        float: left;
        border: 1px solid #7d819b;
        padding: 11px;
        border-radius: 50%;
        margin-right: 20px;
    }

.cl_contact {
    clear: both;
    height: 64px;
    padding-top: 10px;
    background: url(../images/lxdh_bg.png) no-repeat 0 12px;
    line-height: 24px;
    font-size: 16px;
    color: #fff;
    padding-left: 35px;
}

    .cl_contact em {
        color: #e9b477;
        font-style: normal;
        padding-left: 10px;
        font-size: 20px;
        line-height: 24px;
    }

.container3 {
    margin: 0 auto;
    width: 1212px;
}

.c3_mod {
    width: 25%;
    float: left;
    padding: 6px;
}

.c3m_mod {
    border-radius: 3px;
    height: 128px;
}

.c3m_01 {
    background: #eab064 url(../images/icon31.jpg) no-repeat 29px 77px;
    height: 128px;
}

.c3m_02 {
    background: #88c0e0 url(../images/icon32.jpg) no-repeat 29px 77px;
    height: 128px;
}

.c3m_03 {
    background: #61c4ac url(../images/icon33.jpg) no-repeat 29px 77px;
    height: 128px;
}

.c3m_04 {
    background: #9d93cd url(../images/icon34.jpg) no-repeat 29px 77px;
    height: 128px;
}

    .c3m_01 h2, .c3m_02 h2, .c3m_03 h2, .c3m_04 h2 {
        clear: both;
        text-align: center;
        font-size: 42px;
        color: #666666;
        margin: 0;
        padding: 0;
        padding-top: 15px;
        font-weight: normal;
    }

    .c3m_01 p, .c3m_02 p, .c3m_03 p, .c3m_04 p {
        clear: both;
        text-align: center;
        font-size: 14px;
        color: #666666;
        margin: 0;
        padding: 0;
        padding-top: 15px;
        font-weight: normal;
    }

.phone_tc {
    position: absolute;
    height: 56px;
    width: 160px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    text-align: center;
    line-height: 56px;
    top: 0;
    right: 60px;
    font-size: 14px;
}

.qq_tc {
    position: absolute;
    height: 56px;
    width: 160px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    text-align: center;
    line-height: 56px;
    top: 114px;
    right: 60px;
    font-size: 14px;
}

.wx_tc {
    position: absolute;
    height: 172px;
    width: 172px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    top: 0px;
    right: 60px;
    font-size: 14px;
}

.tc_class {
    display: none;
}

.tiptotop {
    position: absolute;
    left: -1px;
    top: -58px;
    border: 1px solid #e1e1e1;
}

.mod {
    height: 20px;
    background-color: #808080;
    width: 100%;
}

.sc_tcdiv {
    position: absolute;
    left: 0;
    top: 35px;
    width: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 999;
    padding: 5px 0;
    display: none;
}

    .sc_tcdiv p {
        clear: both;
        line-height: 32px;
        font-size: 14px;
        padding: 0 5px;
        cursor: pointer;
    }

        .sc_tcdiv p:hover {
            background-color: #363c64;
            color: #fff;
        }

.selected-div {
    width: 420px;
    height: 34px;
    position: relative;
}

.sd_lines {
    height: 34px;
    background: #fff url(../images/ltip_down.jpg) no-repeat right;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
}

    .sd_lines .sdl_mod {
        float: left;
        padding: 0 15px;
        height: 24px;
        line-height: 24px;
        background-color: #363c64;
        color: #fff;
        border-radius: 3px;
        margin-right: 5px;
        position: relative;
    }

.sdl_div {
    position: absolute;
    left: 0;
    top: 35px;
    width: 420px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 999;
    padding: 5px 0;
    display: none;
}

    .sdl_div .sdld_line {
        clear: both;
        height: 35px;
        line-height: 25px;
        padding: 5px 6px 5px 26px;
        font-size: 14px;
        background: url(../images/clk_no.jpg) no-repeat 5px 11px;
        cursor: pointer;
    }

    .sdl_div .sd_yes {
        background: url(../images/clk_yes.jpg) no-repeat 5px 12px;
    }

.sm_tag_close {
    height: 13px;
    width: 13px;
    position: absolute;
    top: -10px;
    right: -5px;
}

.validation-summary-valid, .validation-summary-errors ul li {
    color: red;
}

textarea {
    padding: 5px;
    border: 1px solid #D4D4D4;
    background-color: #fff;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}



/*---------------------- 文件控件开始 ------------------*/
.aim-ctrl {
    clear: both;
    border: 1px solid #D4D4D4;
    background-color: #fff;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.aim-ctrl-file {
    background-color: #F7F7F7;
    margin: 0px;
    padding: 5px;
    border: solid 1px #808080;
    -moz-border-radius: 5px 5px 5px 5px !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.aim-ctrl-file-button {
    margin: 3px;
    width: 40px;
    height: 20px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    border-style: outset;
    border-width: thin;
}

.aim-ui-button {
    -moz-border-radius: 5px 5px 5px 5px !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.aim-ctrl-file a {
    margin: 0px 0px 0px 5px;
}

/*---------------------- 文件控件结束 ------------------*/
.aim-ctrl-file {
    border: 1px solid #d5d5d5 !important;
    float: none !important;
}

/*---表单验证---*/
.aim-valid-required {
    color: #900;
}

.popcombobox-item,
.popcombobox-group,
.popcombobox-stick {
    font-size: 13px;
    padding: 3px;
}

.popcombobox-item-disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.popcombobox-gitem {
    padding-left: 10px;
}

.popcombobox-group,
.popcombobox-stick {
    font-weight: bold;
}

.popcombobox-stick {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    background: inherit;
}

.popcombobox-item-hover {
    background-color: #e6e6e6;
    color: #00438a;
}

.popcombobox-item-selected {
    background-color: #0081c2;
    color: #fff;
}

.popcombobox-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
}

.popcombobox-search {
    background: url('/Content/easyui/themes/default/images/searchbox_button.png') no-repeat center center !important;
}

.spinner-arrow-up, .spinner-arrow-down {
     width:18px !important;
     margin-left:4px;
}

.datagrid-row-selected a {
    color:#fff;
}