<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="192.168.0.15" />
		<add key="Database" value="ONCONTROL3" />
		<add key="OutputDir" value=".\GENERATED\" />
		<add key="Namespace" value="OnControl" />
    <add key="Password" value="sasa" />
    <add key="Partial" value="true" />
    <add key="PropertyEvents" value="true" />
    <add key="Validation" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="ORACLE" connectionString="Data Source = 
              (DESCRIPTION = 
                 (ADDRESS_LIST =
                 (ADDRESS = 
                    (PROTOCOL = TCP)
                    (HOST =192.168.0.15)
                    (PORT = 1522)
                 ))
                 (CONNECT_DATA =
                    (SERVER = DEDICATED)
                    (SERVICE_NAME = ONCONTROL3)
                 )
              );User Id = ONCONTROL3; Password = sasa;" />
  </connectionStrings>
</configuration>
