<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Aim" type="Aim.Common.Configuration.ConfigurationHandler, Aim.Core" />
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Oncontrol3.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <Aim>
    <System>
      <Configurations>
        <AppSettings>
          <LinkFileUpload>http://localhost:2065/UploadHandler.ashx</LinkFileUpload>
          <UploadServiceUrl>http://localhost:2065/UploadService.svc</UploadServiceUrl>
          <PortalServiceProvider>Aim.Portal.ServicesProvider.WebPortalServiceProvider, Aim.Portal.ServicesProvider</PortalServiceProvider>
        </AppSettings>
      </Configurations>
    </System>
  </Aim>
  <activerecord>
    <!--测试库 开发用（默认库）-->
    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.OracleClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.Oracle10gDialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <!--<add key="connection.connection_string" value="Data Source = &#xA;              (DESCRIPTION = &#xA;                 (ADDRESS_LIST =&#xA;                 (ADDRESS = &#xA;                    (PROTOCOL = TCP)&#xA;                    (HOST =172.20.60.35)&#xA;                    (PORT = 1521)&#xA;                 ))&#xA;                 (CONNECT_DATA =&#xA;                    (SERVER = DEDICATED)&#xA;                    (SERVICE_NAME = untestdb)&#xA;                 )&#xA;              );User Id = projtest; Password = projtest;"/>-->
      <!--公司-->
      <add key="connection.connection_string" value="Data Source = &#xA;              (DESCRIPTION = &#xA;                 (ADDRESS_LIST =&#xA;                 (ADDRESS = &#xA;                    (PROTOCOL = TCP)&#xA;                    (HOST =172.20.60.35)&#xA;                    (PORT = 1521)&#xA;                 ))&#xA;                 (CONNECT_DATA =&#xA;                    (SERVER = DEDICATED)&#xA;                    (SERVICE_NAME = untestdb)&#xA;                 )&#xA;              );User Id = projtest; Password = projtest;" />
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    </config>
    <!--正式库 发布用（默认库）-->
    <!--<config>
      <add key="connection.driver_class" value="NHibernate.Driver.OracleClientDriver"/>
      <add key="dialect" value="NHibernate.Dialect.Oracle10gDialect"/>
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
      <add key="connection.connection_string" value="Data Source = (DESCRIPTION=(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = compdb.feili.com)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME =feiliextsrv)));User Id = feiliext; Password = sap#ext2016;"/>
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
    </config>-->
    <config type="OnControl.Model.OnControlModelBase`1,OnControl.Model">
      <add key="connection.driver_class" value="NHibernate.Driver.OracleClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.Oracle10gDialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Data Source = &#xA;              (DESCRIPTION = &#xA;                 (ADDRESS_LIST =&#xA;                 (ADDRESS = &#xA;                    (PROTOCOL = TCP)&#xA;                    (HOST =172.20.60.35)&#xA;                    (PORT = 1521)&#xA;                 ))&#xA;                 (CONNECT_DATA =&#xA;                    (SERVER = DEDICATED)&#xA;                    (SERVICE_NAME = untestdb)&#xA;                 )&#xA;              );User Id = projtest; Password = projtest;" />
      <!--<add key="connection.connection_string" value="Data Source = &#xA;              (DESCRIPTION = &#xA;                 (ADDRESS_LIST =&#xA;                 (ADDRESS = &#xA;                    (PROTOCOL = TCP)&#xA;                    (HOST =172.20.60.35)&#xA;                    (PORT = 1521)&#xA;                 ))&#xA;                 (CONNECT_DATA =&#xA;                    (SERVER = DEDICATED)&#xA;                    (SERVICE_NAME = untestdb)&#xA;                 )&#xA;              );User Id = projtest; Password = projtest;"/>-->
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    </config>
    <config type="Com.Feiliks.MDM.MdmModelBase`1,Com.Feiliks.MDM">
      <add key="connection.driver_class" value="NHibernate.Driver.OracleClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.Oracle10gDialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Data Source = &#xA;              (DESCRIPTION = &#xA;                 (ADDRESS_LIST =&#xA;                 (ADDRESS = &#xA;                    (PROTOCOL = TCP)&#xA;                    (HOST =172.20.60.35)&#xA;                    (PORT = 1521)&#xA;                 ))&#xA;                 (CONNECT_DATA =&#xA;                    (SERVER = DEDICATED)&#xA;                    (SERVICE_NAME = untestdb)&#xA;                 )&#xA;              );User Id = projtest; Password = projtest;" />
      <!--<add key="connection.connection_string" value="Data Source = &#xA;              (DESCRIPTION = &#xA;                 (ADDRESS_LIST =&#xA;                 (ADDRESS = &#xA;                    (PROTOCOL = TCP)&#xA;                    (HOST =172.20.60.35)&#xA;                    (PORT = 1521)&#xA;                 ))&#xA;                 (CONNECT_DATA =&#xA;                    (SERVER = DEDICATED)&#xA;                    (SERVICE_NAME = untestdb)&#xA;                 )&#xA;              );User Id = projtest; Password = projtest;"/>-->
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    </config>
    <config type="Com.Feiliks.QDM.QdmModelBase`1,Com.Feiliks.QDM">
      <add key="connection.driver_class" value="NHibernate.Driver.OracleClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.Oracle10gDialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Data Source = &#xA;              (DESCRIPTION = &#xA;                 (ADDRESS_LIST =&#xA;                 (ADDRESS = &#xA;                    (PROTOCOL = TCP)&#xA;                    (HOST =172.20.60.35)&#xA;                    (PORT = 1521)&#xA;                 ))&#xA;                 (CONNECT_DATA =&#xA;                    (SERVER = DEDICATED)&#xA;                    (SERVICE_NAME = untestdb)&#xA;                 )&#xA;              );User Id = projtest; Password = projtest;" />
      <!--<add key="connection.connection_string" value="Data Source = &#xA;              (DESCRIPTION = &#xA;                 (ADDRESS_LIST =&#xA;                 (ADDRESS = &#xA;                    (PROTOCOL = TCP)&#xA;                    (HOST =172.20.60.35)&#xA;                    (PORT = 1521)&#xA;                 ))&#xA;                 (CONNECT_DATA =&#xA;                    (SERVER = DEDICATED)&#xA;                    (SERVICE_NAME = untestdb)&#xA;                 )&#xA;              );User Id = projtest; Password = projtest;"/>-->
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    </config>
    <!--
    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Server=.;DataBase=OnControlPortal;User ID=sa;Password=sasa;Persist Security Info = True" />
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    </config>
    <config type="CRM.Model.CRMModelBase`1,CRM.Model">
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Server=.;DataBase=KSFL_Document;User ID=sa;Password=sasa;Persist Security Info = True" />
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    </config>-->
  </activerecord>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="config:CurrentTheme" value="smart-style-0" />
    <add key="KittingURL" value="http://sapdpi01.feili.com:50200/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_B2B&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WIS_PORTAL1001&amp;interfaceNamespace=URN%3AWISTRONWH_Portal1001" />
    <!--webservice 配置信息-->
    <add key="Interface_User" value="pid_b2b" />
    <add key="Interface_Pwd" value="1234qwer" />
    <add key="Interface_Timeout" value="600000" />
    <!--endwebservice 配置信息-->
    <add key="mailServer" value="smtp.163.com" />
    <add key="mailSender" value="jingnaipeng2001@163.com" />
    <add key="mailAccount" value="jingnaipeng2001@163.com" />
    <add key="mailPassword" value="testtest" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />



    <!--打印条码-->
    <add key="QO_BARCODE" value="http://172.20.70.218:8088/ZH-CN/TMREPORT/TM105_BARCODE_BATCH/?NOS=" />
    <!--TM链接-->
    <add key="QO_FWO" value="http://sapdtm01.feili.com:8000/sap/bc/webdynpro/scmtms/fwd_order?key=" />
    <add key="QO_FOFOO" value="http://sapdtm01.feili.com:8000/sap/bc/webdynpro/scmtms/fre_order?key=" />
    <add key="QO_FB" value="http://sapdtm01.feili.com:8000/sap/bc/webdynpro/scmtms/fre_book?key=" />
    <!--表单打印-->
    <!--南亚送货通知书-->
    <add key="TM068" value="http://172.20.70.218:2088/zh-CN/TMReport/TM068?FWO=" />
    <!--海进操作表-->
    <add key="TM069" value="http://172.20.70.218:2088/zh-CN/TMReport/TM069?FWO={0}&amp;PRT={1}" />
    <!--分拨舱单打印-->
    <add key="TM052" value="http://172.20.70.218:2088/zh-CN/TMReport/TM052?FWO=" />
    <!--异常情况申请表-->
    <add key="TM070" value="http://172.20.70.218:2088/zh-CN/TMReport/TM070?FWO=" />

    <!--打印昆山委托书-->
    <add key="TM038KS" value="http://172.20.70.218:2088/zh-CN/TMReport/TM038?FB={0}&amp;AREA=KUNSHAN" />
    <!--打印上海委托书-->
    <add key="TM038SH" value="http://172.20.70.218:2088/zh-CN/TMReport/TM038?FB={0}&amp;AREA=SHANGHAI" />
    <!--打印配舱回单-->
    <add key="TM048" value="http://172.20.70.218:2088/zh-CN/TMReport/TM048?FWO={0}&amp;FD={2}" />
    <!--打印用车申请单-->
    <add key="TM064" value="http://172.20.70.218:2088/zh-CN/TMReport/TM064?FO={0}" />
    <!--打印场站收据-->
    <add key="TM043" value="http://172.20.70.218:2088/zh-CN/TMReport/TM043?FWO={0}&amp;SBL={1}" />
    <!--打印HBL提单确认件-->
    <add key="TM041_HBL" value="http://172.20.70.218:2088/zh-CN/TMReport/TM041_HBL?FWO={0}&amp;MBL={1}&amp;FD={2}" />
    <!--打印MBL提单确认件-->
    <add key="TM041_MBL" value="http://172.20.70.218:2088/zh-CN/TMReport/TM041_MBL?FB={0}&amp;MBL={1}&amp;FD={2}" />
    <!--打印电放提单-->
    <add key="TM049" value="http://172.20.70.218:2088/zh-CN/TMReport/TM049?FWO={0}&amp;MBL={1}&amp;FD={2}" />
    <!--打印正本提单-->
    <add key="TM042" value="http://172.20.70.218:2088/zh-CN/TMReport/TM042?FWO={0}&amp;MBL={1}&amp;FD={2}" />
    <!--导出拼箱入库计划表-->
    <add key="TM065" value="http://172.20.70.218:2088/zh-CN/TMReport/TM065?FWO={0}&amp;SBL={1}" />

    <!--HANA方式172.20.70.180:30141-->
    <!--<add key="TM_CONNSTRING" value="Server=172.20.70.180:30141;Database=PTM;UserID=SYS_ETL;Password=Sap12345" />-->
    <add key="TM_CONNSTRING" value="Server=172.20.70.178:30041;Database=DTM;UserID=SYS_ETL;Password=Sap12345" />
    <!--过期时间-->
    <add key="CommandTimeout" value="200000" />
    <!--TD连接串-->
    <add key="Teradata_Connect_String" value="Data Source = 172.20.70.173;User ID = pu_edwadmin;Password = feiliks2018;" />


    <!--SSO登录-->
    <add key="TM_Token" value="TK" />
    <add key="SSO_TOKEN_OA" value="P0NZGjL6Xlv7Hb66LjZ7GoldenShen9Q23miShenXinRUNuEQVBPXqi9IYlnG4wm" />
    <add key="SSO_TOKEN_TM" value="EYd4a1QuQEmyerShenXinq0DbePemL1Z0rI8KsrozGO54k4W7l3C45aXgsYKGXGh" />
    <add key="SSO_Service_URL" value="http://172.20.70.218:6061/SSO/SSOService.asmx?WSDL" />
    <!--正式地址-->
    <!--<add key="SSO_Service_URL" value="http://172.20.70.218:8061/SSO/SSOService.asmx?WSDL" />-->
    <!-- crm库连接-->
    <add key="connection_crm" value="Data Source = (DESCRIPTION =          &#xD;&#xA;		(ADDRESS_LIST =        &#xD;&#xA;		(ADDRESS =            &#xD;&#xA;		(PROTOCOL = TCP)   &#xD;&#xA;		(HOST =compdb.feili.com)     &#xD;&#xA;		(PORT = 1521)            &#xD;&#xA;		))               &#xD;&#xA;		(CONNECT_DATA =    &#xD;&#xA;		(SERVER = DEDICATED)    &#xD;&#xA;		(SERVICE_NAME = crmsrv)   &#xD;&#xA;		)               );User Id = crm; Password = crm2015;"









                                                         />

    <!--空运工号-->
    <add key="KYGH" value="admin,10003579,10000513,20000067,10000698,10001759,10003511,20000004,20001349,10001755,10000727"/>
    <!--海运工号-->
    <add key="HYGH" value="admin,10003579,10000513,20000067,10000698,10001759,10003511,10002959,20001349,10001755,10000727"/>
    <!--供应链工号-->
    <add key="GYLGH" value="admin,10003579,10000513,20000067,10000698,10001759,10003511,10000125,20001349,10001755,10000727"/>
    <!--运输工号-->
    <add key="YSGH" value="admin,10003579,10000513,20000067,10000698,10001759,10003511,10001305,20001349,10003229,10002329,10001755,10000727"/>
    <!--服务默认背景-->
    <add key="srvbj" value="S1001,S1005,S3001,S3002,S3003,S3004"/>
    
    <!--定价带成本，基础对应关系 -->
    <add key="KN_AREA" value="ZGJDQ"/>
    <!--地区-->
    <add key="KN_QYG" value="ZQYG"/>
    <!--起运港-->
    <add key="KN_HX" value="ZHXKY"/>
    <!--航线-->
    <add key="KN_BZ" value="BZ"/>
    <!--币种-->
    <add key="KN_HWLB" value="ZHWLB"/>
    <!--货物类别-->
    <add key="KN_HKGS" value="ZHKGS"/>
    <!--航空公司-->
    <add key="KN_HBH" value="ZHBH"/>
    <!--航班号-->
    <add key="KN_SKB" value="ZSKB"/>
    <!--时刻表-->

    <add key="KJ_AREA" value="ZGJDQ" />
    <!--国家/地区-->
    <add key="KJ_QYG" value="ZQYG"/>
    <!--起运港-->
    <add key="KJ_MDG" value="ZMDG"/>
    <!--目的港-->
    <add key="KJ_BZ" value="BZ"/>
    <!--币种-->
    <add key="KJ_HWLB" value="ZHWLB"/>
    <!--货物类别-->
    <add key="KJ_HKGS" value="ZHKGS"/>
    <!--航空公司-->
    <add key="KJ_ZZG" value="ZZZGHC_FB"/>
    <!--中转港-->
    <add key="KJ_HBH" value="ZHBH"/>
    <!--航班号-->
    <add key="KJ_SKB" value="ZSKB"/>
    <!--时刻表-->

    <add key="HY_AREA" value="ZGJDQ" />
    <!--国家/地区-->
    <add key="HY_QYG" value="ZQYGHC"/>
    <!--起运港-->
    <add key="HY_MDG" value="ZMDG"/>
    <!--目的港-->
    <add key="HY_CGS" value="ZCGS"/>
    <!--船公司-->
    <add key="HY_BZ" value="BZ"/>
    <!--币种-->
    <add key="HY_HC" value="ZHC"/>
    <!--航程-->
    <add key="HY_MT" value="ZMT"/>
    <!--码头-->
    <add key="HY_KHR" value="ZKHR"/>
    <!--开航日-->
    <add key="HY_ZZG" value="ZZZGHC"/>
    <!--中转港-->
<!-- ================== 期初数据导入 兼容配置 ================== -->
    <!--废弃费目代码-->
    <add key="FEECODE" value="AECPSFFJG,AECPSFJG,OBGCYCDF"/>
    <!--废弃基础代码-->
    <add key="CALCCODE" value="ZBGDPS,ZSBDTS,ZSBDZS,ZDSBS,ZPSCS,ZECPSBS,ZJFGS"/>
    <!--错误费目代码更正 Excel填写有误  格式：错误费目名称:基础代码-->
    <add key="WRONGFEECODE" value="零担运输费(非监管):ALDYSFFJG,零担运输费(监管):ALDYSFJG"/>
    <!--错误基础代码更正 Excel填写有误  格式：错误基础名称(错误基础代码):基础名称(基础代码)-->
    <add key="WRONGCALCCODE" value="目的港(ZMDS):目的港(ZMDG),作业单标记(ZBJ):作业单标记(ZZYDBJ),整车分摊因子(ZYDJFZLJKJ):整车分摊因子(ZZCFTYZ),放空标识(ZFKBS):放空标记(ZFKBJ),压车标识(ZYCBS):压车标记(ZYCBJ)"/>
    <!--错误基础名称更正 Excel填写有误   这个没必要,只要代码正确就行-->
    <add key="WRONGCODE" value="磁检标记(ZCJBJ):消磁标记(ZCJBJ)"/>

<!-- ================== 发送感谢信 外部邮件参数 ================== -->
    <!-- 设置邮箱主机 -->
    <add key="mailServer" value="mail.feiliks.com" />
    <!-- 设置邮箱地址 -->
    <add key="mailSender" value="飞力达股份" />
    <add key="mailAccount" value="flcustomers@feiliks.com" />
    <!-- 设置邮箱密码 -->
    <add key="mailPassword" value="feili,000" />
    <!--测试库标记 传OA -->
    <add key="Test" value="0" />
    <!--测试路径端口 -->
    <add key="port" value="20027"/>

    <add key="ServiceXMLUrl" value="http://172.20.70.240:8088//services/WorkflowServiceXml"/>
    <!--提交流程的接口地址-->
    <add key="crmFJUrl" value="http://172.20.70.211:7089/CommonPages/File/DownLoad.aspx" />

    <!--单点登录配置信息-->
    <add key="SSOTOKEN" value="test" />
    <add key="SSOURL" value="http://172.20.70.218:6061/SSO/SSOService.asmx" />

    <!--销售易客户主数据接口-->
    <add key="XSYUSERINFOURL" value="https://api-tencent.xiaoshouyi.com/data/v1/objects/user/info" />


    <!-- 设置接口账号密码 -->
    <add key="XSY_INTERFACE_USER" value="OFFER" />
    <add key="XSY_INTERFACE_PASS" value="ab8b5021362521933a44c053833becb3" />
    <add key="XSY_BACK_URL" value="http://172.20.70.145:8041/" />
 </appSettings>
  <system.web>

    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms name="PortalServerQMS" loginUrl="~/Account/Login" enableCrossAppRedirects="true" defaultUrl="/Home/Index" timeout="60000000" cookieless="UseCookies" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!-- 设置验证用户的Module 
    <httpModules>
      <add name="AuthModule" type="Aim.Portal.Web.ContextModule, Aim.Portal" />
    </httpModules> -->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
<security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <!--<staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>-->
    <!--modules>
      <add name="AuthModule" type="Aim.Portal.Web.ContextModule, Aim.Portal" />
    </modules>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LogServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BJWebServiceSoap" />
        <binding name="BizTalk_RFC_TM_CRM_602_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_603_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_701_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BizTalk_RFC_TM_CRM_702_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_703_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_801_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_802_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_804_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_805_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_Z2FM_RFC_MD_SERVICE_TCET_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_025_MDMClient_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_601_Orchestration_InboundSoap"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BizTalk_RFC_TM_CRM_803_Orchestration_InboundSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUserSessionService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2065/LogService.asmx" binding="basicHttpBinding"
        bindingConfiguration="LogServiceSoap" contract="LogService.LogServiceSoap"
        name="LogServiceSoap" />
      <endpoint address="http://localhost:2065/UserSessionService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserSessionService"
        contract="USService.IUserSessionService" name="WSHttpBinding_IUserSessionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://172.20.70.211:7089/BJWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BJWebServiceSoap"
        contract="ServiceReference1.BJWebServiceSoap" name="BJWebServiceSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_601_Proxy/BizTalk_RFC_TM_CRM_601_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_601_Orchestration_InboundSoap"
        contract="RATE601.BizTalk_RFC_TM_CRM_601_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_601_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_602_Proxy/BizTalk_RFC_TM_CRM_602_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_602_Orchestration_InboundSoap"
        contract="RATE602.BizTalk_RFC_TM_CRM_602_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_602_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_603_Proxy/BizTalk_RFC_TM_CRM_603_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_603_Orchestration_InboundSoap"
        contract="RATE603.BizTalk_RFC_TM_CRM_603_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_603_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_701_Proxy/BizTalk_RFC_TM_CRM_701_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_701_Orchestration_InboundSoap"
        contract="FWA701.BizTalk_RFC_TM_CRM_701_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_701_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_702_Proxy/BizTalk_RFC_TM_CRM_702_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_702_Orchestration_InboundSoap"
        contract="FWA702.BizTalk_RFC_TM_CRM_702_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_702_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_703_Proxy/BizTalk_RFC_TM_CRM_703_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_703_Orchestration_InboundSoap"
        contract="FWA703.BizTalk_RFC_TM_CRM_703_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_703_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_801_Proxy/BizTalk_RFC_TM_CRM_801_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_801_Orchestration_InboundSoap"
        contract="COND801.BizTalk_RFC_TM_CRM_801_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_801_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_802_Proxy/BizTalk_RFC_TM_CRM_802_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_802_Orchestration_InboundSoap"
        contract="COND802.BizTalk_RFC_TM_CRM_802_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_802_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_804_Proxy/BizTalk_RFC_TM_CRM_804_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_804_Orchestration_InboundSoap"
        contract="COND804.BizTalk_RFC_TM_CRM_804_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_804_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_805_Proxy/BizTalk_RFC_TM_CRM_805_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_805_Orchestration_InboundSoap"
        contract="COND805.BizTalk_RFC_TM_CRM_805_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_805_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.Z2FM_RFC_MD_SERVICE_TCET_Proxy/BizTalk_RFC_Z2FM_RFC_MD_SERVICE_TCET_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_Z2FM_RFC_MD_SERVICE_TCET_Orchestration_InboundSoap"
        contract="ZSyncPSF.BizTalk_RFC_Z2FM_RFC_MD_SERVICE_TCET_Orchestration_InboundSoap"
        name="BizTalk_RFC_Z2FM_RFC_MD_SERVICE_TCET_Orchestration_InboundSoap" />
      <endpoint address="http://172.20.60.185/BizTalk.RFC.TM_CRM_025_Proxy/BizTalk_RFC_TM_CRM_025_MDMClient_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_025_MDMClient_InboundSoap"
        contract="MDMBSV.BizTalk_RFC_TM_CRM_025_MDMClient_InboundSoap"
        name="BizTalk_RFC_TM_CRM_025_MDMClient_InboundSoap" />
      <endpoint address="http://172.20.70.55/BizTalk.RFC.TM_CRM_803_Proxy/BizTalk_RFC_TM_CRM_803_Orchestration_Inbound.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizTalk_RFC_TM_CRM_803_Orchestration_InboundSoap"
        contract="COND803.BizTalk_RFC_TM_CRM_803_Orchestration_InboundSoap"
        name="BizTalk_RFC_TM_CRM_803_Orchestration_InboundSoap" />
    </client>
  </system.serviceModel>
  <log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log/log.txt" />
      <param name="AppendToFile" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="TastInfo" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="Log\\Info\\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <DatePattern value="yyyy-MM-dd&quot;.txt&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %-5level  - %message%newline" />
      </layout>
    </appender>
    <logger name="Info">
      <level value="ALL" />
      <appender-ref ref="Info" />
      <appender-ref ref="TastInfo" />
    </logger>
    <logger name="NHibernate" additivity="true">
      <level value="ERROR" />
      <appender-ref ref="DebugAppender" />
    </logger>
    <logger name="NHibernate.SQL" additivity="true">
      <level value="ERROR" />
      <appender-ref ref="DebugAppender" />
    </logger>
    <!--logger name="NHibernate.AdoNet.AbstractBatcher" additivity="true">
      <level value="DEBUG"/>
      <appender-ref ref="DebugAppender" />
    </logger-->
    <root>
      <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
      <level value="DEBUG" />
      <appender-ref ref="rollingFile" />
    </root>
  </log4net>
  <applicationSettings>
    <Oncontrol3.Web.Properties.Settings>
      <setting name="Oncontrol3_Web_BSC_SSO_LOGIN_SsoService" serializeAs="String">
        <value>http://172.20.70.14/SSOWebService/SsoService.asmx</value>
      </setting>
      <setting name="Oncontrol3_Web_localhost_LogService" serializeAs="String">
        <value>http://localhost:2065/logservice.asmx</value>
      </setting>
      <setting name="Oncontrol3_Web_GetDataFromXSYByCustomerNo_CreateGetCRM"
        serializeAs="String">
        <value>http://172.20.70.63:9090/services/createGetCrm</value>
      </setting>
      <setting name="Oncontrol3_Web_BJWriteback_CreateQuotation" serializeAs="String">
        <value>http://172.20.70.63:9090/services/createQuotation</value>
      </setting>
      <setting name="Oncontrol3_Web_BJWriteBackUpdate_UpdateQuotation"
        serializeAs="String">
        <value>http://172.20.70.63:9090/services/updateQuotation</value>
      </setting>
    </Oncontrol3.Web.Properties.Settings>
  </applicationSettings>
</configuration>