<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/Masters/Ext/SiteJq_1.8.Master"
    CodeBehind="formpage1.8.master.cs" Inherits="Aim.Examining.Web.Masters.Ext.formpagejq8" %>

<asp:Content ID="HeadContent" ContentPlaceHolderID="HeadHolder" runat="server">
    <link href="/App_Themes/Ext/form.css" rel="stylesheet" type="text/css" />
    <link href="/App_Themes/Default/jquery-ui-1.8/redmond.css" rel="stylesheet" type="text/css" />
    <script src="/js/lib/jquery-ui-1.8.custom.min.js" type="text/javascript"></script>
    <script src="/js/lib/jquery.validationEngine.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="HeadHolder" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="BodyContent" ContentPlaceHolderID="BodyHolder" runat="server">
    <asp:ContentPlaceHolder ID="BodyHolder" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
