<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="172.20.60.35" />
		<add key="Database" value="untestdb" />
		<add key="OutputDir" value=".\GENERATED\" />
		<add key="Namespace" value="OnControl" />
    <add key="Password" value="sasa" />
    <add key="Partial" value="true" />
    <add key="PropertyEvents" value="true" />
    <add key="Validation" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="ORACLE" connectionString="Data Source = 
              (DESCRIPTION = 
                 (ADDRESS_LIST =
                 (ADDRESS = 
                    (PROTOCOL = TCP)
                    (HOST =172.20.60.35)
                    (PORT = 1521)
                 ))
                 (CONNECT_DATA =
                    (SERVER = DEDICATED)
                    (SERVICE_NAME = untestdb)
                 )
              );User Id = projtest; Password = projtest;" />
  </connectionStrings>
</configuration>
